*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
  
textarea:focus, input:focus{
    outline: none;
}

ol, ul {
    list-style: none;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;

}

.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1550px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.w-1-8{
    flex: 0 0 15%;
    max-width: 15%;
}

.w-2 {
    flex: 0 0 16.66666%;
    max-width: 16.66666%;
}

.w-2-4 {
    flex: 0 0 19.9999%;
    max-width: 19.9999%;
}

.w-3 {
    flex: 0 0 24%;
    max-width: 24%;
}

.w-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
}


.w-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
}



.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1500px) {
    .grid.wide {
        max-width: 1200px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1200px) {
    .m-5 {
        flex:  41.66666%;
        max-width: 41.66666%;
    }

    .grid.wide {
        max-width: 980px;        
    }
}

@media screen and (max-width: 980px) {
    .grid.wide{
        max-width: 720px;
    }


    .m-w {
        flex:  97.5%;
        max-width: 97.5%;
    }
}

@media screen and (max-width: 768px){
    .grid.wide {
        max-width: 580px;
    }
}

@media screen and (max-width: 576px) {
    .grid.wide {
        max-width: 400px;
    }

    
}
