.header{

}

.header__top{
    background-color: #313131;
    
}



.header__top-container {
    display: flex;
    justify-content: space-between;
    height: 40px;
    font-size: 12px;
    line-height: 14.4px;
    color: #CCCCCC;

}

.header__top-sell{
    margin: auto 0;
    cursor: pointer;
    font-size: 12px;
}

.header__top-other{
    display: flex;


}

.header__top-animation{
    position: absolute;
    right: 50%;
    left: 0;
    top: 32px;
    background-color: #fff;
    border-radius: 4px;
    width: 80%;
    text-align: center;
    padding: 6px 12px;
    animation: downToUp .25s ;
    transform-origin: bottom;
    display: none;
}

@keyframes downToUp {
    0%{
        opacity: 0;
        transform: translateY(100%);

    } 100%{
        opacity: 1;
        transform: translateY(0);

    }

}



.header__top-animation::after {
    content: "";
    background-color: transparent;
    width: 100%;
    height: 20px;
    position: absolute;
    right: 0;
    top: -20px;
}

.header__top-animation p {
    padding: 5px 0;
    font-size: 12px;
    transition: .5s;
    color:#343a40 ;
    
}

.header__top-animation .active {
    font-weight: 600;
}

.header__top-animation > p:hover {
    color: #ec1c24;
}

.header__top-item{
    display: flex;
    margin: auto 0;
    position: relative;
    transition: DownToUp .5s ease-in-out;
    transform-origin: bottom;
}

@keyframes DownToUp {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.header__top-item p{

    transition: growDown .5s;
}

.header__top-item:hover > p{
    color: #ec1c24;
}

.header__top-item:hover .header__top-animation{
    display: block;
}

.header__top-item p{
    font-size: 12px;
}

.header__top-item {
    cursor: pointer;
}

.header__top-item::after{
    content: "";
    height: 15px;
    width: 1px;
    background-color: #CCCCCC;
    margin-left: 10px;
}

.header__top-item:last-child::after{
    content: "";
    display: none;
}

.header__top-item img {
    width: 13px;
    height: 13px;
    margin: 0 10px;
}

.header__content{
    height: 100px;
    background-color: #414141;

}

.header__content-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header__content-logo{
    display: flex;
    height: 100%;

}

.header__content-logo-item{
    margin: auto 32px auto 0px;
    
}

.header__content-logo-item img{

    cursor: pointer;
}

.header__content-search{
    display: flex;

}

.header__content-search-container{
    position: relative;
    display: flex;
}

.header__content-input{
    margin: auto 0;
    border: none;
    border-radius: 6px;
    padding-left: 40px;
    width: 440px;
    height: 40px;
    position: relative;
    font-size: 14px;
    font-style: italic;
    font-weight: lighter;
}

.header__content-search-container::after{
    content: "";
    background-image: url("../img/logo-block-5.png");
    position: absolute;
    width: 12px;
    height: 12px;
    top: 43px;
    left: 17px;
}


.header__content-list{
    position: absolute;
    right: 110px;
    top: 40px;
    color: #ccc;
    font-style: italic;
    font-size: 12px;
    cursor: pointer;
}

.header__content-list::after{
    content: "";
    background-image: url("../img/logo-block-6.png");
    position: absolute;
    width: 10px;
    height: 5px;
    left: -18px;
    top: 6px;
}

.header__content-btn{
    position: absolute;
    height: 40px;
    width: 94px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #fff;
    background-color: #F58220;
    right: 0;
    top: 30px;
}

.header__content-info{
    display: flex;
}

.header__content-item{
    margin: auto 0 auto 32px;
    display: flex;
    color: #CACACA;
    cursor: pointer;

}



.header__content-item-container{
    margin-left: 8px;
}

.header__content-item-container h5 {
    font-weight: 800;
    font-size: 14px;
}

.header__content-item-container h6 {
    font-weight: 300;
    font-size: 14px;
}



.navbar{
    background-color: #F9F9F9;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
}

.navbar__menu{
    display: flex;
    height: 40px;
    width: 262px;
    padding: 10px;
    background-color: #F58220;
    justify-content: space-between;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.navbar__menu-container{
    min-width: 282px;
    z-index: 2;
}

.navbar__menu.active .navbar__menu-list {
    display: flex;
}

.navbar__menu-list{
    position: absolute;
    z-index: 2;
    background-color: #fff;
    text-align: center;
    color: #343a40;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: max-content;
    top: 60px;
    right: 0;
    display: none;
    animation: growDown 300ms ease-in-out forwards alternate;
    transform-origin: top;
    border: 1px solid rgba(0, 0, 0, 0.2);
    align-items: flex-start;
    transition: 0.25s;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.navbar__menu-item{
    padding: 5.4px 10px;
    font-size: 800;
}


.navbar__menu a {
    margin: auto 8px;
    font-weight: 600;
    display: block;
    color: #313131;
    text-decoration: none;
}

.navbar__menu-item:hover {
    text-decoration: underline;
}

.navbar__menu-item:hover .navbar__sub-menu{
    text-decoration: underline;
}


.navbar__sub-menu{
    display: none;
    flex-direction: column;
    opacity: 0;
    right: 0;
    width: 885px;
    height: 417px;
    background-color: white;
    transition: fadeOut 0.5s all;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1px;
}



.navbar__sub-menu.active {
    display: flex;

}


.navbar__sub-contain{
    display: flex;
    flex-direction: row;
    flex: 1;

}

.navbar__sub-container{
    min-height: 1px;
    padding: 1.25rem;
    min-width: 285px;
    position: relative;
}
.navbar__sub-container> p{
    transition: all .5s;

}

.navbar__sub-container> p:hover  {
    color: #ec1c24;
}

.navbar__sub-container::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}



.navbar__sub-list p{
    font-size: 11px;
    line-height: 17px;
    font-weight: 400;
    transition: .5s;
}

.navbar__sub-list p:hover {
    color: #ec1c24;
}

.navbar__menu p{
    margin: auto 0;
}

.navbar__menu img {
    margin: auto 0;
    width: 18px;
    height: 13px;
}


.navbar__details{
    display: flex;
}

.navbar__details-item{
    margin: auto 36px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    transition: all .5s;
    position: relative;
}


.navbar__details-more {
    position: absolute;
    top: 38px;
    z-index: 4;
    background-color: #fff;
    width: 230px;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    padding: .5rem 0;
    display: none;
    animation: fadeOut .5s;
}

.navbar__details-more li {
    font-size: 13px;
    line-height: 20px;
    padding: .5rem 20px;
    font-weight: 400;
    transition: all .5s;
}

.navbar__details-more li:hover {
    color: #ec1c24;

}

.navbar__details-item p {
    transition: all .5s;
}

.navbar__details-item:hover p{
    color: #ec1c24;
}

.navbar__details-item:hover .navbar__details-more{
    display: block;
}


.navbar__details-item:last-child {
    margin: auto 0 auto 36px;
}

.navbar-item{
    display: flex;
    margin: auto 16px auto 0;
    display: none;
}


.navbar__info{
    display: none;
}

.navbar__item{
    margin: auto 0 auto 32px;
    display: flex;
    color: #CACACA;

}

.navbar__item-container{
    margin-left: 8px;
}

.navbar__item-container h5 {
    font-weight: 800;
}

.navbar__item-container h6 {
    font-weight: 300;
}

.navbar-item img {
    width: 40px;
    height: 40px;
}

.navbar-item-container{

}


.navbar__details-item img {
    margin-top: 4px;
    width: 8px;
    height: 5px;
}

.navbar__details-item p {
    margin-right: 4px;
    font-size: 15px;
}

.navbar__details-item:last-child p {
    margin-right: 0px;
}

.hero {
    position: relative;
    display: flex;
}

.hero__container{
    position: relative;
}

.hero__img img {
    height: 35vw;
    position: relative;
    z-index: 1;
    cursor: pointer;
    min-width: 650px;
}

.hero__list {
    width: 85px;
    height: 20px;
    background-color: #fff;
    border-radius: 12px;
    position: absolute;
    bottom: 5%;
    right: 50%;
    display: flex;
    justify-content: space-around;
    z-index: 3;
}

.hero__item {
    margin: auto 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #EBEBEB;
}

.hero__item.active {
    background-color: #F58220;

}

.hero__commit{
    background-color: #F9F9F9;
}

.hero__commit-container{
    height: 80px;

}

.hero__commit-list{
    display: flex;
    justify-content: space-between;
    height: inherit;
}

.hero__commit-item{
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}

.hero__commit-item img{
    margin-right: 20px;
}

.hero__commit-content{
    width: max-content;
    margin: auto 0;
}

.hero__commit-content h5 {
    font-size: 14px;
    line-height: 21px;
}



.hero__commit-content h6{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.hero__style{
    margin-top: 60px;
}

.hero__style-container{

}

.hero__style-list{
    display: flex;
    justify-content: space-between;

}

.hero__style-item{
    margin: 0 8px;
    position: relative;
    cursor: pointer;
}

.hero__style-item img {
    width: 100%;
    height: 100%;
    margin: 0 5px;
}



.hero__style-detail{
    width: 66.666%;
    height: 10%;
    border-radius: 32px;
    background-color: rgba(65, 65, 65, 0.5);
    position: absolute;
    bottom: 25px;
    left: 25%;
    right: 25%;
    transform: translateX(-12%);
    color: #fff;
    font-size: 22px;
    text-align: center;
    transition: all .5s;
}

.hero__style-item p {
    position: absolute;
    font-weight: normal;
    font-size: 22px;
    color: #fff;
    letter-spacing: 4px;
    text-align: center;
    width: 100%;
    top: 20%;
    bottom: 50%;
    transform: translateY(50%);
}

.hero__style-detail:hover{
    background-color: #313131;
}


.hero__style-detail:hover p{
    color: #ec1c24;
}

.middle{
    position: relative;
    background-color: #F9F9F9;
    margin-top: 60px;
    z-index: 1;
    display: flex;
    height: 560px;
}

.middle__background {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    height: 560px;
    max-height: 560px;
}

.middle__container-img{
    width: 50%;
    position: absolute !important;
    right: 0;
    z-index: 3;
    height: 560px;
}

.middle__img-content{
    width: 6.666%;
    height: 7%;
    border-radius: 32px;
    background-color: rgba(65, 65, 65, 0.5);
    position: absolute;
    bottom: 25px;
    right: 25%;
    color: #fff;
    font-size: 22px;
    text-align: center;
    transition: all .5s;
    z-index: 5;
}

.middle__img-content p {
        position: absolute;
        font-weight: normal;
        font-size: 16px;
        color: #fff;
        text-align: center;
        width: 100%;
        top: 20%;
        bottom: 50%;
        transform: translateY(35%);
}


.middle__img-content:hover{
    background-color: #313131;
}


.middle__img-content:hover p{
    color: #ec1c24;
}

.middle__cut{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    filter: invert(99%) sepia(44%) saturate(269%) hue-rotate(203deg) brightness(117%) contrast(95%);
    z-index: 3;
}

.middle__details-product{
    z-index: 4;
}

.middle__details-style{
    margin-top: 60px;
 
    display: flex;
    flex-direction: column;
    position: relative;
}

.middle__details-status{
    font-size: 36px;
    line-height: 44px;
    color: #313131;
    font-weight: bold;
    display: flex;
}

.middle__details-status p {
    color: #F58220;
    margin-left: 8px;
}

.middle__details-style::after {
    content: "";
    width: 578px;
    height: 1px;
    background-color: #F58220;
    position: absolute;
    top: 57px;
}

.middle__details-style::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    background-color: #F58220;
    top: 54px;

}
.middle__details-it{
    margin-top: 104px;
}

.middle__details-it h1 {
    font-size: 56px;
    font-weight: 1000;
}

.middle__details-it h2 {
    font-size: 30px;
    color: #313131;
    margin-top: 28px;
    font-weight: normal;
}

h2.acitve {
    color: #F58220;
}


.middle__details-name{
    margin-top: 40px;
    font-size: 32px;
    display: flex;
}


.middle__details-name h5 {
    font-weight: 600;
}


.middle__details-name h6 {
    margin-left: 35px;
    font-weight: lighter;
}

.middle__details-price{
    margin-top: 30px;
    display: flex;
    font-size: 20px;
    
}

.middle__details-price h5 {
    font-weight: 400;
}

.middle__details-price h6 {
    font-weight: 600;
    color: #FF3C3C;
    margin-left: 8px;
}

.middle__details-look {
    font-size: 20px;
    margin-top: 56px;
    color: #F58220;
    display: block;
    text-decoration: none;
    margin-bottom: 45px;
}

.middle__details-arrow{
    display: flex;
}

.middle__details-direction{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    outline: solid #cecece;
    position: relative;
    transition:.25s;
    cursor: pointer;
}

.middle__details-direction:hover{
    outline: solid #F58220;

}

.middle__details-direction svg {
    background-color: #fff;
    color: #cecece;
    height: 15px;
    width: 15px;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .25s;

}

.middle__details-direction:hover svg{
    background-color: #F58220;
    color: #fff;
}


.middle__details-direction:hover img {
    background-color: #fff;
}

.middle__details-direction img{
    height: 10px;
    width: 5px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



.middle__details-direction:last-child{
    margin-left: 18px;
}


.middle__container{
    z-index: 4;
}

.middle__image p{
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    right: 23%;
    bottom: 13%;
}

.middle__image-detail {
    width: 15.3333%;
    height: 10%;
    border-radius: 32px;
    background-color: #414141;
    position: absolute;
    bottom: 10%;
    opacity: 50%;
    right: 20%;
}

.middle__image img{
    width: 1920px;
}

.middle__brand{
    margin-top: 60px;
}

.middle__brand-list{
    justify-content: space-between;
}

.middle__brand-item{
    width: 100%;
    border:1px solid #cecece;
    height: 100px;
    text-align: center;
    position: relative;
    border-radius: 4px;
}

.middle__brand-item:hover {
    border: 1px solid #F58220;
}



.middle__brand-item img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.middle__brand-item:last-child img{
    width: 100%;
}

.middle__brand-item:nth-child(3) img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 190px;
    transform: translate(-50%, -50%);
}

.product{
    margin-top: 60px;
}

.product__container{

}

.product__status{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.product__status h2{
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    right: 0;    
    color: #F58220;
}

.product__status::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #F58220;
    position: absolute;
    top: 60px;
}




.product__status::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    background-color: #F58220;
    top: 57px;

}

.product__status-content{
    font-size: 36px;
    font-weight: bold;
    
}


.product__list{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
}

.product__item{
    border: 1px solid #cecece;
    position: relative;
    margin: 8px 6px;
    padding: 0 100px;
    justify-content: space-between;
    height: 336px;
    border-radius: 3px;
    cursor: pointer;
}

.product__item:hover {
    outline: 1px #F58220 solid;
}

.product__item::after {
    content: "Mới";
    background-color: #F58220;
    padding: 2px 20px;
    color: #fff;
    position: absolute;
    right: 22px;
    top: 18px;
    border-radius: 20px;
}

.product__item-img{
    height: 250px;
}

.product__item-img img{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
}

.product__item-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 280px;
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 32px;
}

.product__item-content h5 {
    font-size: 16px;
    color: #737373;
    letter-spacing: 2px;
    font-weight: 300;
}

.product__item-content h6 {
    font-size: 16px;
    color: #FF3C3C;
    margin: 16px 0;
    font-weight: 500;
}

.footer {
    margin-top: 60px;
}

.footer__news{
    margin-top: 66px;
    display: flex;
    justify-content: space-between;
}

.footer__news-list{

}

.footer__news-item{
    margin: 16px 0;
}

.footer__news-item img {
    width: 100%;
    height: 100%;
}

.footer__news-item-date{
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
}

.footer__news-item-main{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 19.2px;
    transition: all .5s;
    cursor: pointer;
}

.footer__news-item-main:hover {
    color: #ec1c24;
}

.footer__news-item-content{
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
}

.footer__email{
    background-color: #F9F9F9;
    height: 120px;
}

.footer__email-container {
    display: flex;
    justify-content: space-between;
    height: 120px;
}

.footer__email-info{
    display: flex;
    margin: auto 0;
    
}

.footer__email-info img {
    margin-right: 28px;
}

.footer__email-sales{
    margin: auto 0;
}

.footer__email-sales h5 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.footer__email-sales h6 {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}
.footer__email-input{
    margin: auto 0;
    position: relative;
}


.footer__email-btn {
    position: absolute;
    height: 40px;
    width: 94px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #fff;
    background-color: #F58220;
    cursor: pointer;
    right: 0;
}

.footer__creator{
    background-color: #393939;
    color: #F9F9F9;
}

.footer__creator-contact{
    margin-top: 44px;
}

.footer__creator-list{
    display: flex;
    justify-content: space-between;
}

.footer__creator-list::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #cecece;
    margin: 28px 0;
}

.footer__creator-item{
    margin-top: 44px;
}

.footer__creator-item h1{
    font-weight: bold;
    font-size: 18px;

}

.footer__creator-content{
    display: flex;
    font-weight: lighter;
    font-size: 14px;
    margin-top: 12px;
    cursor: pointer;
    transition: all .5s;
    font-weight: 400;
}

.footer__creator-content:hover {
    opacity: .8;
}

.footer__creator-content img {
    margin-right: 12px;
    width: 8px;
    height: 12px;
}

.footer__creator-item:last-child img {
    margin-right: 12px;
    width: 20px;
    height: 20px;
}

.footer__creator-content h2{
    font-weight: normal;
}

.footer__logo{
    margin-top: 40px;
}

.footer__logo-container{

}

.footer__logo-list{
    display: flex;
    justify-content: space-between;
}

.footer__logo-list::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #cecece;
    margin: 28px 0;
}


.footer__logo-item{
    font-size: 14px;
}


.footer__logo-item:last-child .footer__logo-img{
    outline: none;
    margin-top: 40px;
}

.footer__logo-item:last-child .footer__logo-img img{
    width: 200px;
    height: 200px;
}

.footer__logo-img{
    width: 160px;
    height: 50px;
    outline: solid 1px #cecece;
    border-radius: 8px;
    margin: 14px 0;
    position: relative;
}

.footer__logo-img img{
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer__logo-details{
    margin: 10px 0;
}

.footer__end{
}

.footer__end-container{
    position: relative;
}

.footer__end-list{
    display: flex;
    justify-content: space-between;
}

.footer__end-item{
    position: relative;
    margin: auto 0;
    font-size: 14px;
}

.footer__end-item a{
    text-decoration: none;
    color: #F9F9F9;
    transition: all .5s;
}

.footer__end-item a:hover{
    text-decoration: none;
    color: #d57b2d;
    
}



@keyframes fadeOut {
    0%{
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}